.landing__content {
    text-align: center;
    padding: 1.3rem;

    p{
        font-size: 1.4rem;
        line-height: 1.4;
    }
    h2 {
        font-size: 3rem;
        font-weight: normal;
    }
}