extends _component/layout/layout
block config
    -
        var title = `Roberto Blacke Replica`
        var description = `This will be an imporved of Roberto Replica`


block content
    .header__wrapper
        h1 Entreprenuer,Author & Speaker
        .header__body

        h2 Download My Free E-book on Personal Brading!
    p
    | this is content
