extends _component/layout/layout
block config
    -
        var title = `Roberto Blake Replica`
        var description = `This will be an imporved of Roberto Replica`


block content
    .header__wrapper
        h1 Antreprenuer,Author & Speaker
        .header___panel
            .header__body
            .header__footer
            h2 Download My Free E-book on Personal Brading!
            a.header__download(
                href="join-newsletter.php",
                title="Download Free Personal Branding Ebook"
            ) Download
    hr
    include _component/featured/featured
