extends _component/layout/layout
block config
    -
        var title = `Roberto Blake Replica`
        var description = `This will be an imporved of Roberto Replica`


block content
    include _component/mixin/link
    .header__wrapper
        h1 Antreprenuer,Author & Speaker
        .header___panel
            .header__body
            .header__footer
            h2 Download My Free E-book on Personal Brading!
            a.header__download(
                href="join-newsletter.php",
                title="Download Free Personal Branding Ebook"
            ) Download
    .landing__content
        h2 MEET ROBERTO BLAKE
        p Roberto Blake is a Creative Entrepreneur helping business, brands and individuals market themselves effectively with  engaging visuals and effective messages.
        p Roberto has over 10 years of experience commercially in #[strong design] and  #[strong marketing] and has helped brands, both large and small achieve their goals and reach their audleness.
        p His work has been recognized by #[+link('https://www.youtube.com/channel/UC0bCoeVLZ_5GvtfLooxBPaA?view_as=subscriber','Forbes','Forbes')], #[+link('https://www.youtube.com/channel/UC0bCoeVLZ_5GvtfLooxBPaA?view_as=subscriber','Huffington Post','Huffington Post')], #[+link('https://www.youtube.com/channel/UC0bCoeVLZ_5GvtfLooxBPaA?view_as=subscriber','Adobe ','Adobe ')] and #[+link('https://www.youtube.com/channel/UC0bCoeVLZ_5GvtfLooxBPaA?view_as=subscriber','Photoshop Creative Magazines ','Photoshop Creative Magazines ')].
        p He is a #[strong HOW Design Live] Speaker and contributor to several publication.

        hr

        iframe(width="560"
        height="315"
        src="https://www.youtube.com/watch?v=ZtC6_LPboD0" frameborder="0" allow="autoplay"; ecrypted-media" allowfullscreen")
