extends _component/layout/layout
block config
    -
        var title = `Roberto Blacke Replica`
        var description = `This will be an imporved of Roberto Replica`


block content
    p 
    | this is content
    span.rbcf-home3